body {
  box-sizing: border-box;
  margin: 0;
}

/* background img/hero section */
.content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://m.economictimes.com/thumb/msid-68049123,width-1200,height-900,resizemode-4,imgsize-363392/smoking.jpg);

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* content box */
.form-box {
  background: linear-gradient(180deg, rgba(247, 126, 126, 0.52),	rgba(136, 228, 220, 0.561));
  border-radius: 20px;

  display: flex;
  justify-content: space-around;
  min-height: 75vh;
  width: 90vh;
  
}

/* texts */
.container {
  padding: 5rem;
  display: flex;
  justify-content: center;
  /* grid */
  flex-direction: column;
  
}

/* heading */
.container h1 {
  font-family: 'Quicksand', serif;
  color: darkslategrey;
  font-size: calc(25px + (80 - 25) * ((100vw - 300px) / (1600 - 300)));
}
/* information */
.container p {
  font-family: 'Quicksand', serif;
  font-size: 22px;
  color: white;
  text-shadow: 1px 3px 5px rgb(97, 53, 53);
}

/* form(border removed) */
fieldset {
  border: none;

  font-family: 'Special Elite', cursive;
  color: darkslategray;
  font-size: 20px;

  margin: 7rem 4rem 3rem 0rem;
  display: flex;
  /* grid */
  flex-direction: column;
}

fieldset label {
  padding-top: 1.5em;
}

/* sign up to our... */
legend {
  font-size: 25px;
  text-align: center;

  padding-top: 1em;
  max-width: 30ch;
}

/* red asterisk */
.name:after {
  content:" *";
  color: red;
}

.email:after {
  content:" *";
  color: red;
}

/* check/click box */
.checkbox label {
  font-family: 'Quicksand', serif;
  font-size: 16px;
  color: rgb(22, 20, 20);
}

/* submit button */
button {
  background-color: darkslategray;
  padding: 11px 16px; 
  border: 1.5px solid white;
  border-radius: 6px;

  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;

  margin-top: 2.2rem;
}

button:hover {
  color: darkslategrey;
  background: white;
  cursor: pointer;
}

/* label inputs */
input, select {
  font-size: 16px;

  max-width: 30ch;
  padding: 12px 8px;
}

/* mobile media queries */
@media (max-width: 600px) {
  .container {
    height: 30vh;
    width: 100%;
  }
}
